<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Animais | Pet Search</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    <header>
        <div class="logo-animada"> 
            <div class="pata"><span class="dedo"></span><span class="dedo"></span><span class="dedo"></span><span class="dedo"></span><span class="palma"></span></div>
            <span class="texto-logo">Pet Search</span>
        </div>
        <div class="nav-bar"> 
            <nav id="main-navigation"> <ul id="nav-links"></ul> </nav>
            <div id="user-actions"></div>
        </div> 
    </header>
    <main>
        <h2>Meus Animais Cadastrados</h2>
        <div class="animal-grid" id="lista-meus-animais">
            <p style="text-align: center; grid-column: 1 / -1;">Carregando seus animais...</p>
        </div>
    </main>
    <footer>
        &copy; 2025 Pet Search. Projeto Integrador 2.
    </footer>
    <script src="src/js/script.js"></script>
</body>
</html>